
* {
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}
body {
    margin: 0;
}
body, html {
    height: 100vh;
}

.container {
    height: inherit;
}

.section {
    height: 55vh;
    width: 100%;
}
.header {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 6em;
}
.first.section {
    background-color: #1F2937;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    
}

.quote.section {
    background-color: #E5E7EB;
    display: flex;
}
.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}
.quote {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 0;
    color: #1F2937;
}
.author {
    align-self: flex-end;
    font-size: 25px;
    font-weight: bold;
    margin-top:0;
}
ul {
    display: flex;
    text-decoration: none;
    gap: 16px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.s-logo {
    font-size: 48px;
    font-weight: 900;
    width: 70%;
    color: #F9FAF8;
}
.header-info {
    display: flex;
    justify-content: space-around;
}
img {
    height: 240px;
    width: 450px;
}
.logo-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    
}
.logo-info {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}
.s-logo-info {
    font-size: 18px;
    font-weight: 400;
    color: #E5E7EB;
}
.link {
    font-size: 18px;
    font-weight: 300;
}
.s-button {
    width: 122px;
    height: 42px;
    border-radius: .5em;
    font-size: 18px;
    background-color: #3882F6;
    border: none;
    font-weight: 900;
    color: #F9FAF8;
}
.quote-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40%;
}

.last.section {
    display: flex;
    flex-direction: column;

}
.call-to-action {
    width: 100%;
    height: 80%;
    display: flex;

}

.footer-section {
    width: 100%;
    height: 20%;
    background-color: #1F2937;
}

.callactionbox {
    width: 60%;
    height: 50%;
    background-color: #3882F6;
    margin: auto;
    border-radius: .5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.callactiontitle {
    font-size: 28px;
    font-weight: 900;
    color: #F9FAF8;
}
.action.s-button {
    border: 1px solid #F9FAF8;
}
.callactiontext {
    font-size: 18px;
    color: #E5E7EB;
    
}
.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;

}